* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F11321;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



#avt {
    width: 550px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
}

#avt img {
    position: relative;
}

#deer {
    top: -76px;
    left: -88px;
}

#entrance {
    top: -75px;
    left: -100px;
}

#avt div {
    position: relative;
    top: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avt input, #avt button {
    background-color: #F11321;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    border-radius: 10px;
}

#avt input {
    width: 350px;
    font-size: 20px;
}

#avt button {
    font-size: 30px;
    margin-top: 10px;
}

#avt button:hover {
    background-color: #d11321;
    cursor: pointer;
}

#avt input::placeholder {
    color: white;
    font-size: 20px;
}

#avt p {
    font-size: 20px;
    margin-top: 5px;
}

#avt a {
    color: #F11321;
}

#avt a:hover {
    color: #d11321;
}

#tree1a {
    top: -279px;
    left: -66px;
}

#tree2a {
    top: -277px;
    left: 340px;
}



#reg {
    width: 550px;
    height: 450px;
    background-color: white;
    border-radius: 5px;
}

#reg img {
    position: relative;
}

#garland {
    top: -17px;
    left: -19px;
}

#register {
    top: -80px;
    left: 115px;
    height: 60px;
    margin-bottom: 5px;
}

#reg div {
    position: relative;
    top: -70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#reg input, #reg button {
    background-color: #F11321;
    border: none;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    color: white;
    border-radius: 10px;
}

#reg input::placeholder {
    color: white;
    font-size: 17px;
}

#reg input {
    font-size: 17px;
}

#reg button {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#reg button:hover {
    background-color: #d11321;
    cursor: pointer;
}

#ps {
    width: 300px;
}

#reg p {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

#reg a {
    color: #F11321;
}

#reg a:hover {
    color: #d11321;
}

#tree1r {
    top: -279px;
    left: -66px;
}

#tree2r {
    top: -277px;
    left: 340px;
}



#one, #two {
    background-color: white;
    width: 700px;
    border-radius: 5px;
    color: #F11321;
}

#one {
    height: 150px;
    margin-bottom: 100px;
}

#two {
    height: 450px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.naim {
    padding: 10px;
}

#one img {
    position: relative;
}

#one h1 {
    position: relative;
    top: -140px;
    text-align: center;
}

#deerP {
    top: -76px;
    left: -88px;
}

#garlandP {
    top: -100px;
    left: 177px;
}